{% extends 'base.html' %} 
{% block content %}

    <h3>Receitas do top 10:</h3>
    <ol>
        {% for ingredient in ingredients %}
            <li>{{ingredient}}</li>
        {% endfor %}
    </ol>
    <hr>
<br>
<form action="{{ url_for('recipes') }}" method="POST">
        <label for="recipe">Nome da receita:</label>
        <input type="text" name="recipe" class="form-control w-50">
        <input type="submit" value="Entrar" class="btn btn-success">
    </form>
    <hr>

{% endblock content %}
