{% extends 'base.html' %}
{% block content %}

<h2>Controle de estoque - Livros</h2>
<br />
<details>
    <summary>[ Cadastrar novo livro ]</summary>
    <div class="col-md-6">
        <form action="{{url_for('booksEstoque')}}" method="POST">
            <input type="text" name="titulo" placeholder="Título" class="form-control mb-3" required/>
            <input type="text" name="autor" placeholder="Autor" class="form-control mb-3" required/>
            <input type="number" name="ano_publicacao" placeholder="Ano de publicação" class="form-control mb-3" required/>
            <input type="text" name="assunto" placeholder="Assunto" class="form-control mb-3" required/>

            <hr class="my-4">
            
            <h5 class="mb-3">Detalhes Adicionais (BookDetail Opcional)</h5>
            <select name="book_detail_id" class="form-select mb-4" required>
                <option value="" selected disabled>Selecione um detalhe de livro (ISBN/Resumo)...</option>
                {% for detail in book_details %}
                    <option value="{{ detail.id }}">{{ detail.isbn }} - {{ detail.resumo_longo | truncate(50) }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Cadastrar" class="btn btn-success"/>
            <input type="reset" value="Limpar" class="btn btn-danger">
        </form>
    </div>
</details>
<hr/>
<h5>Livros em estoque:</h5>
<br/>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th style="width: 50px;"></th>
            <th>Título:</th>
            <th>Autor:</th>
            <th>Ano de publicação:</th>
            <th>Assunto:</th>
            <th>ISBN:</th>
            <th>Resumo:</th>
            <th style="text-align: center;" colspan="2">Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for b in booksestoque.items %}
        <tr>
            <td style="text-align: center;">
                <img src="{{url_for('static', filename='images/book.png')}}" alt="Produto" width="40px"/>
            </td>
            <td>{{b.titulo}}</td>
            <td>{{b.autor}}</td>
            <td>{{b.ano_publicacao}}</td>
            <td>{{b.assunto}}</td>
            <td>{{b.detail.isbn}}</td>
            <td>{{b.detail.resumo_longo}}</td>

            <td style="text-align: center; width: 130px;">
                <a class="btn btn-warning" href="{{url_for('bookEdit', id=b.id)}}">Editar Detalhes</a>
            </td>
            <td style="text-align: center; width: 130px;">
                <a class="btn btn-danger" href="{{url_for('booksEstoque', id=b.id)}}" onclick="return confirm('Deseja mesmo excluir o livro {{b.titulo}}?')">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p style="text-align: center;">
    {% if booksestoque.has_prev %}
    <a href="{{url_for('booksEstoque', page=booksestoque.prev_num)}}"><< Anterior>></a>
    {% endif %}
    {% if booksestoque.has_next %}
    <a href="{{url_for('booksEstoque', page=booksestoque.next_num)}}">Próximo >>>></a>
</p>
{% endif %}
{% endblock content %}
