{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 m-auto">
    <h3 style="text-align: center;">Editar livro</h3><br>
    <form action="{{url_for('bookEdit', id=b.id)}}" method="POST">
        <input type="text" name="titulo" class="form-control mb-3" placeholder="Título" value="{{b.titulo}}" required>
        <input type="text" name="autor" class="form-control mb-3" placeholder="Autor" value="{{b.autor}}" required>
        <input type="number" name="ano_publicacao" class="form-control mb-3" placeholder="Ano de Publicação" value="{{b.ano_publicacao}}" required>
        <input type="text" name="assunto" class="form-control mb-3" placeholder="Assunto" value="{{b.assunto}}" required>
            <select name="book_detail_id" class="form-select mb-4" required>
                <option value="" selected disabled>Selecione um detalhe de livro (ISBN/Resumo)...</option>
                {% for detail in book_details %}
                    <option value="{{ detail.id }}" {% if b and b.book_detail_id == detail.id %} selected {% endif %}>
                        {{ detail.isbn }} - {{ detail.resumo_longo | truncate(50) }}
                    </option>
                {% endfor %}
            </select>

        
        <a href="{{url_for('bookEdit', id=b.id)}}" onclick="return confirm('Confirma as alterações?')"><input type="submit" value="Alterar" class="btn btn-warning"></a>
        <a href="{{url_for('booksEstoque')}}"><input type="button" value="Cancelar" class="btn btn-danger"></a>
    </form>
</div>
{% endblock content %}
